/* =========== Season stats CSS ============ */

/* ----------- Report headings ------------- */

 
h1.title {
  font-size: 28px;
}
h1 { 
  font-size: 10px;
}
h2 { 
    font-size: 10px;
}
h3 { 
  font-size: 24px; 
}

h4 { 
  font-size: 18px; 
}

h1, h2, h3, h4 {
  text-align: center;
}
 
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 84px;
} 



/* ----------- Div tips ------------- */

/* when changing colours, only change background-color and border */ 

@import url('https://fonts.googleapis.com/css2?family=Carter+One');

  div.first {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #fff2b1;
    border: solid 3px #ffd700;
    background-image: url("report_img/trophy-1.png");
  }
  
  div.second {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e7e7e7;
    border: solid 3px #7b7b7b;
    background-image: url("report_img/trophy-2.svg");
  }
  
  div.third {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e4ba90;
    border: solid 3px #cd7f32;
    background-image: url("report_img/trophy-3.svg");
  }
  
  div.prize {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #dfedff;
    border: solid 3px #bed3ec;
    background-image: url("report_img/lw_prize.png");
  } 
  
  div.about {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
    background-image: url("report_img/fyi.png");
  }
  
  div.stories {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #d3dbfb;
    border: solid 5px #a4b5f7;
    background-image: url("report_img/spell-book.svg");
  }
  
  div.aces {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #b7ade7;
    border: solid 5px #ac9df7;
    background-image: url("report_img/ace.svg");
  }
  
  div.close_wins {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #cdecbe;
    border: solid 5px #93d672;
    background-image: url("report_img/horseshoe.svg");
  }
  
  div.heartbreak {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
    background-image: url("report_img/heartbreak.svg");
  }



/* ----------- Hyperlinks ------------- */

/* Unvisited */
a:link {
  color: #23619f;
}

/* Visited */
a:visited {
  color: #23619f;
}

/* Hovered */
a:hover {
  color: #2973bc;
}

/*------------Table of Contents (TOC)----------- */


.tocify {
  border: none;   /*Removes border */ 
  /*border-radius: 0px; /* Gets rid of rounded corners on TOC */
  /*font-size: 16px;
} 

.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
   /* line-height: 25px !important; 
} 

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
/*} 

/* Active TOC links*/

.list-group-item.active, 
.list-group-item.active:hover{
  color: #787878;
  background-color: #ffffff;
  border-color: #ccc;
} 

/* Hovered TOC links*/

.list-group-item:hover { 
  color: #787878;
  background-color: #ffffff;
  border: none;
} 