.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.Renviron
/
.Rprofile

.env

data/**
scripts/test/**
docs/reports/images/mates/**
docs/reports/stories/prod/**

R/scratchpad.R
R/update_repo.R
R/identify_tos_violators.R