.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.Renviron
/
.Rprofile

.env

countries_files/**

data/**
scripts/test/**
reports/images/mates/**
reports/stories/prod/**

scripts/scratchpad.R
scripts/update_repo.R
scripts/identify_tos_violators.R