/* -----------div tips------------- */

  div.first {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #fff2b1;
    border: solid 3px #ffd700;
    background-image: url("images/trophy-1.png");
  }
  
  div.second {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e7e7e7;
    border: solid 3px #7b7b7b;
    background-image: url("images/trophy-2.svg");
  }
  
  div.third {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e4ba90;
    border: solid 3px #cd7f32;
    background-image: url("images/trophy-3.svg");
  }
  
  div.about {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
    background-image: url("images/fyi.png");
  }


/* Hyperlinks
/* Unvisited links */
a:link {
  color: #23619f;
}

/* Visited links */
a:visited {
  color: #23619f;
}

/* Hovered links */
a:hover {
  color: #2973bc;
}