
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Amiri');
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono');


html {
  /*-- Main font sizes --*/
  --title-size:      40px;    /*default: 50px; */
  --body-size:       0.8rem; /*default: 1.06rem;*/
  --code-size:       14px;
  --aside-size:      10px; /*12px;*/
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000; /* #000000; */
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8); /* rgba(0, 0, 0, 0.8); */
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Amiri", serif;
  --mono-font:       "DM Mono", monospace;
  --body-font:       "Lato", sans-serif;
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    1rem; /* 0.6rem; */
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/* ----------- Report headings ------------- */

/* OLD - delete these after fixing the new Distill theme settings */

/* 
h1.title {
  font-size: 28px;
}
h1 { 
  font-size: 10px;
}
h2 { 
    font-size: 10px;
}
h3 { 
  font-size: 24px; 
}

h4 { 
  font-size: 18px; 
}

h1, h2, h3, h4 {
  text-align: center;
}
 
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 84px;
} 
*/


/* ----------- Div tips ------------- */

  div.first {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #fff2b1;
    border: solid 3px #ffd700;
    background-image: url("images/trophy-1.png");
  }
  
  div.second {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e7e7e7;
    border: solid 3px #7b7b7b;
    background-image: url("images/trophy-2.svg");
  }
  
  div.third {
    padding: 0.1em;
    margin: 0.1em 0;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    min-height: 70px;
    color: #2c3e50;
    background-color: #e4ba90;
    border: solid 3px #cd7f32;
    background-image: url("images/trophy-3.svg");
  }
  
  div.about {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #2c3e50;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
    background-image: url("images/fyi.png");
  }


/* ----------- Hyperlinks ------------- */

/* Unvisited */
/*a:link {
  color: #23619f;
}*/

/* Visited */
/*a:visited {
  color: #23619f;
}*/

/* Hovered */
/*a:hover {
  color: #2973bc;
}*/

/*------------Table of Contents (TOC)----------- */

/*
.tocify {
  border: none;   /*Removes border */ 
  /*border-radius: 0px; /* Gets rid of rounded corners on TOC */
  /*font-size: 16px;
} */

/*.tocify ul, .tocify li { /* Increases spacing between TOC headers*/
   /* line-height: 25px !important; 
} */

/*.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
/*} */

/* Active TOC links*/

/*.list-group-item.active, 
.list-group-item.active:hover{
  color: #787878;
  background-color: #ffffff;
  border-color: #ccc;
} */

/* Hovered TOC links*/

/*.list-group-item:hover { 
  color: #787878;
  background-color: #ffffff;
  border: none;
} */
